.main{
    &__item{
        @include flex(flex, center, center, column, wrap);
        margin-bottom: $gap * 2;
        @media (min-width: $desktop){
            padding-top:  $gap * 4;
            padding-left:  $gap * 3;
            padding-right:  $gap * 3;
        }
    }
    &__bg{
        width: 100%;
        height: 260px;
        margin-bottom: $gap;
        object-fit: cover;
        cursor: pointer;
        &:hover{ filter: contrast(85%); }
        @media (min-width: $desktop){ height: 525px;}
    }
    &__generic{ @include flex(flex, center, center, column, wrap); }
    &__title{
        width: 80%;
        font-size: 32px;
        color: $button;
        font-weight: normal;
        line-height: 1.1;
        margin-top: $gap;
        margin-bottom: $gap;
        text-align: center;
        @media (min-width: $desktop){ font-size: 48px; }
    }
}
.news{
    &__item{
        @include flex(flex, center, center, column, wrap);
        position: relative;
        margin-bottom: $gap * 2;
        @media (min-width: $desktop){
            @include flex(flex, flex-start, center, row, nowrap);
            justify-content: flex-start;
            flex-direction: row;
            flex-wrap: nowrap;
            margin-top: $gap * 2;
            margin-bottom: $gap * 2;
            margin-left: $gap * 4;
        }
    }
        &__item-bg{
            width: 100%;
            height: 260px;
            object-fit: cover;
            margin-bottom: $gap * 2;

            @media (min-width: $desktop){
                margin-bottom: 0;
                width: 260px;
                max-width: 100%;
                cursor: pointer;
            }
            &:hover{ filter: contrast(85%); }
        }
        &__generic{
            height: 100%;
            width: 100%;
            padding: 0 $gap;
            @media (min-width: $desktop){
                padding: 0;
                margin-left: $gap * 2;
                margin-right: $gap * 2;
            }
        }
            &__button{
                background: $button;
                color: $white;
                &:hover{
                    background: $gold;
                    color: $white;
                    transition: all .3s ease-in-out;
                }
            }
            &__title{
                font-size: 32px;
                color: $button;
                margin-top: $gap;
                margin-bottom: $gap;
                font-weight: normal;
                line-height: 1.1;
            }
            &__song{ @include flex(flex, flex-start, flex-start, row, nowrap); }
                &__song-icon{
                    border-radius: 50%;
                    height: 40px;
                    width: 40px;
                    opacity: .3;
                    padding: 5px;
                    border: 3px solid $overlay;
                    margin-right: $gap;
                    cursor: pointer;
                    transition: all .15s ease-in;

                    &:hover{ opacity: .7;}
                }

                &__song-info{ @include flex(flex, flex-start, flex-start, column, wrap);}
                &__song-title{
                    font-size: 15px;
                    color: $gray;
                    line-height: 1.7;
                    span{
                        color: $button;
                        font-weight: bold;
                    }
                }
                &__song-track{
                    font-size: 13px;
                    color: $gray;
                    font-style: italic;
                    font-weight: normal;
                    font-family: 'Rozha One', serif;
                }
        &__social{
            display: none;
            @media (min-width: $desktop){
                background: $white;
                position: absolute;
                width: 50px;
                left: -25px;
                @include flex(flex, flex-start, flex-start, column, wrap);
                box-shadow: 0 10px 20px rgba($black,0.19), 0 10px 10px rgba($black,0.1);
            }
        }
            &__social-icon{
                height: 50px;
                width: 50px;
                object-fit: contain;
                padding: 15px;
                cursor: pointer;
                transition: all .15s ease-in-out;
                &:nth-of-type(1){ border-bottom: $border; }
                &:hover{ background: $gold; }
            }

}
