footer.footer
    div.footer__generic
        a(href="#").footer__link ABOUT US
        a(href="#").footer__link CONTACT US
        a(href="#").footer__link DISCLAIMER
    a.footer__link.footer__link--music(href="#") Keeping you connected to the independent music scene
