section.news    
    article.main__item
        img(src="img/Clever-Austin-by-Maddie-Stephenson-1024x683.jpg").main__bg
        div.main__generic
            button().news__button PREMIERE
            h3.main__title Swedih Indie Rock Duo SLIDE Premiere "Floating" Music Video
            div.news__song  
                img(src="img/play.svg", alt="Ícono de play").news__song-icon
                div.news__song-info
                    a(href="#").news__song-title #[span Clever Austin ] - Blue Tongue 
                    a(href="#").news__song-track Soundcloud Buy   
    hr
    article.news__item
        img(src="img/Nappy-Nina-by-Texas-Isaiah-768x610.jpg").news__item-bg
        div.news__generic
            button().news__button ALBUM REVIEW
            h3.news__title Brooklyn-Via-Oakland Rapper Nappy Nina Shares New LP #[span The Tree Act]
            div.news__song  
                img(src="img/play.svg", alt="Ícono de play").news__song-icon
                div.news__song-info
                    a(href="#").news__song-title #[span Nappy Nina] - Random Apples
                    a(href="#").news__song-track Soundcloud
        div.news__social
            img(src="img/comment.svg", alt="Ícono de comentarios").news__social-icon
            img(src="img/share.svg", alt="Ícono de compartir").news__social-icon
    hr
    article.news__item
        img(src="img/sharp-curve-768x768.jpg").news__item-bg
        div.news__generic
            button().news__button TRACKS
            h3.news__title Queens Musician sharp #[code > ] curve Shares Shares Sweeping Ambient EP #[span POSTURE]
            div.news__song  
                img(src="img/play.svg", alt="Ícono de play").news__song-icon
                div.news__song-info
                    a(href="#").news__song-title #[span sharp >curve] - SHE SAID GOOD BYE
                    a(href="#").news__song-track Soundcloud    
        div.news__social
            img(src="img/comment.svg", alt="Ícono de comentarios").news__social-icon
            img(src="img/share.svg", alt="Ícono de compartir").news__social-icon
    hr
    article.news__item
        img(src="img/Body-Meat-by-Daniel-Brennan-768x688.jpg").news__item-bg
        div.news__generic
            button().news__button INTRODUCING
            h3.news__title Philadelphia Duo Body Meat Craft Punky, Unhinged Pop
            div.news__song  
                img(src="img/play.svg", alt="Ícono de play").news__song-icon
                div.news__song-info
                    a(href="#").news__song-title #[span Body Meat] - MAKE UP
                    a(href="#").news__song-track Soundcloud    
        div.news__social
            img(src="img/comment.svg", alt="Ícono de comentarios").news__social-icon
            img(src="img/share.svg", alt="Ícono de compartir").news__social-icon
    hr    
    article.news__item
        img(src="img/ValipalaMayShoot23-768x512.jpg").news__item-bg
        div.news__generic
            button().news__button TRACKS
            h3.news__title NYC Progressive Soul Outfit Valipala Recruit Braxton Cook For New Single
            div.news__song  
                img(src="img/play.svg", alt="Ícono de play").news__song-icon
                div.news__song-info
                    a(href="#").news__song-title #[span Valipala] - Yes! (ft. Braxton Cook)
                    a(href="#").news__song-track Soundcloud    
        div.news__social
            img(src="img/comment.svg", alt="Ícono de comentarios").news__social-icon
            img(src="img/share.svg", alt="Ícono de compartir").news__social-icon
    hr
    article.news__item
        img(src="img/SLIDE-Floating-e1548698434376-768x482.png").news__item-bg
        div.news__generic
            button().news__button PREMIERE
            h3.news__title Swedih Indie Rock Duo SLIDE Premiere "Floating" Music Video
            div.news__song  
                img(src="img/play.svg", alt="Ícono de play").news__song-icon
                div.news__song-info
                    a(href="#").news__song-title #[span Slide] - Floating
                    a(href="#").news__song-track Soundcloud    
        div.news__social
            img(src="img/comment.svg", alt="Ícono de comentarios").news__social-icon
            img(src="img/share.svg", alt="Ícono de compartir").news__social-icon
    hr
    article.news__item
        img(src="img/Nappy-Nina-by-Texas-Isaiah-768x610.jpg").news__item-bg
        div.news__generic
            button().news__button ALBUM REVIEW
            h3.news__title Brooklyn-Via-Oakland Rapper Nappy Nina Shares New LP #[span The Tree Act]
            div.news__song  
                img(src="img/play.svg", alt="Ícono de play").news__song-icon
                div.news__song-info
                    a(href="#").news__song-title #[span Nappy Nina] - Random Apples
                    a(href="#").news__song-track Soundcloud
        div.news__social
            img(src="img/comment.svg", alt="Ícono de comentarios").news__social-icon
            img(src="img/share.svg", alt="Ícono de compartir").news__social-icon
    hr
    article.news__item
        img(src="img/sharp-curve-768x768.jpg").news__item-bg
        div.news__generic
            button().news__button TRACKS
            h3.news__title Queens Musician sharp #[code > ] curve Shares Shares Sweeping Ambient EP #[span POSTURE]
            div.news__song  
                img(src="img/play.svg", alt="Ícono de play").news__song-icon
                div.news__song-info
                    a(href="#").news__song-title #[span sharp >curve] - SHE SAID GOOD BYE
                    a(href="#").news__song-track Soundcloud    
        div.news__social
            img(src="img/comment.svg", alt="Ícono de comentarios").news__social-icon
            img(src="img/share.svg", alt="Ícono de compartir").news__social-icon
    hr
    article.news__item
        img(src="img/Body-Meat-by-Daniel-Brennan-768x688.jpg").news__item-bg
        div.news__generic
            button().news__button INTRODUCING
            h3.news__title Philadelphia Duo Body Meat Craft Punky, Unhinged Pop
            div.news__song  
                img(src="img/play.svg", alt="Ícono de play").news__song-icon
                div.news__song-info
                    a(href="#").news__song-title #[span Body Meat] - MAKE UP
                    a(href="#").news__song-track Soundcloud    
        div.news__social
            img(src="img/comment.svg", alt="Ícono de comentarios").news__social-icon
            img(src="img/share.svg", alt="Ícono de compartir").news__social-icon
    hr    
    article.news__item
        img(src="img/ValipalaMayShoot23-768x512.jpg").news__item-bg
        div.news__generic
            button().news__button TRACKS
            h3.news__title NYC Progressive Soul Outfit Valipala Recruit Braxton Cook For New Single
            div.news__song  
                img(src="img/play.svg", alt="Ícono de play").news__song-icon
                div.news__song-info
                    a(href="#").news__song-title #[span Valipala] - Yes! (ft. Braxton Cook)
                    a(href="#").news__song-track Soundcloud    
        div.news__social
            img(src="img/comment.svg", alt="Ícono de comentarios").news__social-icon
            img(src="img/share.svg", alt="Ícono de compartir").news__social-icon
    hr
    article.news__item
        img(src="img/SLIDE-Floating-e1548698434376-768x482.png").news__item-bg
        div.news__generic
            button().news__button PREMIERE
            h3.news__title Swedih Indie Rock Duo SLIDE Premiere "Floating" Music Video
            div.news__song  
                img(src="img/play.svg", alt="Ícono de play").news__song-icon
                div.news__song-info
                    a(href="#").news__song-title #[span Slide] - Floating
                    a(href="#").news__song-track Soundcloud    
        div.news__social
            img(src="img/comment.svg", alt="Ícono de comentarios").news__social-icon
            img(src="img/share.svg", alt="Ícono de compartir").news__social-icon
