aside.popular
    //-********** TOP **********        
    a(href="#").popular__info POPULAR ARTICLES
    div.popular__generic
        button().popular__button.is-active Daily
        button().popular__button Weekly
        button().popular__button Monthly
    //-********** ITEMS **********        
    article.popular__item
        img(src="img/SLIDE-Floating-e1548698434376-768x482.png").popular__item-bg
        div.popular__item-info
            h3.popular__item-title 15 Baddas Female Musicians You Should  Bump This Women's Day
            a(href="#").popular__item-author Soundcloud    
    article.popular__item
        img(src="img/Nappy-Nina-by-Texas-Isaiah-768x610.jpg").popular__item-bg
        div.popular__item-info
            h3.popular__item-title Brooklyn-Via-Oakland Rapper Nappy Nina Shares New LP
            a(href="#").popular__item-author Soundcloud    
    article.popular__item
        img(src="img/Absofacto-Dissolve-300x300.jpg").popular__item-bg
        div.popular__item-info
            h3.popular__item-title Absofacto Disolve
            a(href="#").popular__item-author Soundcloud    
    article.popular__item
        img(src="img/ValipalaMayShoot23-768x512.jpg").popular__item-bg
        div.popular__item-info
            h3.popular__item-title NYC Progressive Soul Outfit Valipala Recruit
            a(href="#").popular__item-author Soundcloud    
    //-********** CONTACT **********        
    div.popular__contact
        a(href="#").popular__touch STAY IN TOUCH
        p.popular__description Sign up for our newsletter to receive updates and exclusive content.
        input(type="text", placeholder="YOUR EMAIL ADDRES").popular__input
        input(type="input", value="SIGN UP").popular__submit
