section.posts
    div.posts__generic
        article.posts__item.posts__item--main
            img(src="img/Jon-Bryant-Ya-Ya-Ya-Ya-Carly-Dame.jpg", alt="Carátula").posts__bg
            div.posts__overlay
                div.posts__info
                    h2.posts__title-main Jon Bryant - "Ya Ya Ya"
                    a(href="#").posts__link PREMIERE
    div.posts__generic
        article.posts__item
            img(src="img/Bells-Atlas.png", alt="Carátula").posts__bg
            div.posts__overlay
                div.posts__info
                    h2.posts__title-item Oakland's Bells Atlas Premiere New Psychedelie R&B Song "The Khamsa"
                    a(href="#").posts__link PREMIERE
        article.posts__item
            img(src="img/Ashni-Davee-Weave.png", alt="Carátula").posts__bg
            div.posts__overlay
                div.posts__info
                    h2.posts__title-item Ashni Premieres Visuals For Sporitual jazz Mantra "Weave"
                    a(href="#").posts__link PREMIERE
        article.posts__item
            img(src="img/Alem-Worldwide.png", alt="Carátula").posts__bg
            div.posts__overlay
                div.posts__info
                    h2.posts__title-item Alem Worldwide Premieres Instrumental EP featuring Pink Siifu
                    a(href="#").posts__link PREMIERE
        article.posts__item
            img(src="img/YGT_PressPhoto-AdaHamza_3.jpg", alt="Carátula").posts__bg
            div.posts__overlay
                div.posts__info
                    h2.posts__title-item Slovenian Trio YGT Premiere New Track "Paradoxical Relaxation"
                    a(href="#").posts__link PREMIERE
