// ***** Colors *****
$white: #ffffff;
$black: #3e3e3e;
$gray: #919191;
$blue: #0084af;
$gold: #d6dcb1;
$overlay: #000000;
$button: #363636;
$border: 1px solid rgba($gray, .25);
// ***** Padding / Margin *****
$gap: 20px;
// ***** z-index *****
$z-50: 50;
$z-100: 100;
$z-200: 200;
// ***** Queries *****
$desktop: 880px;
// ***** Max-Width *****
$max-width: 1200px;
